/* styles/klaytn.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  font-family: "Nunito", sans-serif;

  background-size: 100% 100%;

  @media (max-width: 768px) {
    padding-top: 130px; /* Adjust the value as needed */
  }
}

.inputButtonRow {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  min-width: 600px;
}
.inputContainer {
  display: flex;
  align-items: center;
  width: 100%; /* Takes the full width */
  height: 34px;
  padding-left: 30px;
  background-size: 20px;
  width: 100%;
  padding: 10px;
  min-width: 500px;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  flex: 1; /* Take up remaining space in the row */
}

.select {
  width: 20%; /* 2/10 = 20% */
}
.select:focus {
  outline: none;
}
.inputWithIcon {
  width: 70%; /* 7/10 = 70% */
  height: 30px;
  padding-left: 20px;
  background-image: url("../../public/glass.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 20px;
  width: 100%;
  min-width: 400px;
  border: none;
  flex: 1; /* Take up remaining space in the row */
}

.inputWithIcon:focus::placeholder {
  color: transparent; /* Hide the placeholder text when focused */
}
.inputWithIcon:focus {
  background-image: none;
  border-color: #1e2124;
  outline: none;
}


.title {
  margin-bottom: 80px; /* Add a big space (adjust the value as needed) */
  font-size: 35px;
}
/* Rest of your existing styles */
.animate {
  animation-name: myAnimation;
  animation-duration: 1s; /* Adjust the duration as needed */
}

@keyframes myAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Adjust the scale factor for the desired effect */
  }
  100% {
    transform: scale(1);
  }
}
.pagination {
  display: flex;
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
}

.pageItem {
  margin: 0 5px;
  padding: 0;
}

.pageLink {
  background-color: #6096b4;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px; /* Add margin between buttons */
}

.pageLink:hover {
  background-color: #93bfcf;
}

.disabled,
.active .pageLink {
  background-color: #ccc;
  cursor: not-allowed;
}
.pageNum {
  margin: 0 10px; /* Add margin between page number and buttons */
}

.table {
  width: 95%; /* Reduce table width to 90% of the container */
  max-width: 95%;
  margin: 0 auto; /* Center the table horizontally in the container */
  border-collapse: collapse; /* Remove spacing between table cells */
  margin-top: 40px;
  margin-bottom: 20px;
}

.tableHeader {
  background-color: #93bfcf;
  color: white;
  padding: 10px;
  text-align: center;
}

.tableRow:nth-child(even) {
  background-color: #f2f2f2; /* Alternate row background color */
}

.tableCell {
  padding: 10px 20px; /* Add horizontal padding to the table cells */
  border: 1px solid #ddd; /* Add borders to table cells */
  text-align: center;
}

.tableCell:first-child {
  border-left: none; /* Remove left border for the first cell in each row */
}

.tableCell:last-child {
  border-right: none; /* Remove right border for the last cell in each row */
}

/* klaytn.module.css */

.pagination {
  margin-top: 20px; /* Add spacing between the pagination and other content */
  margin-bottom: 50px;
}


.select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #f2f2f2; /* Background color of the select */
  border: none;
  border-radius: 10px;
  appearance: none; /* Remove default arrow icon on some browsers */
  cursor: pointer;
  font-family: "Nunito", sans-serif; /* Use the same font-family as inputWithIcon */
}

/* Hover effect for the select */
.select:hover {
  background-color: #e0e0e0; /* Change background color on hover */
}

.filterSortSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Move items to the right */
  align-items: center; /* Vertically center items */
  margin-top: 10px;
  width: 100%; /* Make it take the full width of the container */
  margin-right: 120px;
  height: 30px;
}

.sortSection {
  margin-left: 20px; /* Add some space between the input and the sorting dropdown */
  width: 10%;
}
.sortSection:focus {
  outline: none;
}

@media only screen and (max-width: 480px) {
  .inputButtonRow {
    flex-direction: column; /* Display in a column on small screens */
    align-items: center; /* Center-align items */
    max-width: 70vw;
    min-width: 70vw;
  }
  .inputContainer {
    flex-direction: column; /* Display in a column on small screens */
    align-items: center; /* Center-align items */
    max-width: 80vw;
    min-width: 80vw;
    height:10vh
  }
  .inputWithIcon {
    padding: 10px;
    max-width: 70vw;
    min-width: 70vw;
  }
 
  .sortSection{
    min-width: 33vw;

  }

}
@media only screen and (max-width: 1000px) {
  .sortSection{
   width: 17vw;
    
  }
}