body {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
  }
  .theme {
	transition: 1s all ease;
  }
  .lgiht{
	 background-color:#EEE9DA;
	 color: #212422
  }
  .dark{
	background-color: #212422;
	 color: #6096B4
  }
  .container {
	max-width: 1366px;
	min-height: 100vh;
	margin:0 auto;
	padding: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }