/* Add this CSS to your stylesheet or style tag */
.table {
  width: 72%; /* Set your desired table width */
  border-collapse: collapse;
  margin: auto;
  margin-top: 20px;
  table-layout: fixed; /* Set the table layout to fixed */
}
.option {
  margin-left: 15px;
}

.th,
.td {
  width: 16%; /* Set your desired column width */
  padding: 18px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  line-height: 2;
  font-family: sans-serif;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Show ellipsis (...) for overflowing text */
}
.tableHeader {
	color: rgb(87, 85, 85)
}
.tableHeader_symbol {
  text-align: left;
  padding-left: 4%;
}
/* Add this CSS to your styles */
/* Style to add lines between table rows */
.table tr {
	border-bottom: 1px solid #eee; /* Light grey color for the border */
  }
  .table tr:first-child {
	border-top: 1px solid #eee; /* Light grey color for the border */
  }
  /* Style for the last row to remove the border */
  .table tr:last-child {
	border-bottom: none; /* Remove the border for the last row */
  }
  

.thead,
.tbody {
  line-height: 3; /* Adjust the line-height to increase thickness */
  text-align: center;
  font-family: sans-serif;
  color: rgb(87, 85, 85)
}

.h1 {
	cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
  z-index: 1; 
  transition: color 0.3s ease-in-out; /* Add color transition */
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 15%;
  text-align: left; /* Center the text */
  font-family: sans-serif;
  color: rgb(87, 85, 85)
}

.h1:hover {
	
	color: #67aaf3;
}

.filterContainer {
  display: flex;
  justify-content: right; /* Right-align the content */
  margin-right: 15%;
}

/* Styles for the selectContainer */
.selectContainer {
  display: flex;
  flex-direction: row;
  
}

.selectContainer select {
	border-radius: 10px; /* Add rounded corners to the select elements */
	padding: 5px; /* Add some padding for better appearance */
}
/* Styles for the filterInput */
.filterInput {
  border-radius: 10px; /* Add rounded corners to the input element */
  padding: 5px; /* Add some padding for better appearance */
  width: 120px; /* Adjust the width as needed */
  margin-left: 15px; /* Add margin to separate the input from selects */
}

@media only screen and (max-width: 768px) {
  .table {
    width: 90%;
  }
  .th,
  .td {
    padding: 8px; /* Adjust padding for smaller screens */
    font-size: 5px; /* Adjust font size for smaller screens */
  }

  .h1 {
    font-size: 12px; /* Adjust font size for smaller screens */
  }
}

/* Add these styles to your CSS */
.priceIncrease {
  color: green; /* Change to your desired color for price increase */
}

.priceDecrease {
  color: red; /* Change to your desired color for price decrease */
}

.priceStable {
  color: black; /* Change to your desired color for price stability */
}

.kimpColumn {
  color: rgb(234, 42, 67);
}

.upbitColumn, .bithumbColumn {
	background-color: transparent; /* Set the default background color for both columns */
	color: rgb(87, 85, 85);/* Set the default text color for both columns */
  }
  
  /* Change text color of the smaller price column */
  .redRow td.smaller {
	color:  rgb(105, 209, 137); /* Set the text color for the smaller price column in red for the redRow */
  }
  
  
.filteredRow {
  background-color: rgb(245, 245, 216); /* Change to your desired highlight color */
  font-weight: bold; /* Adjust font weight or other styles as needed */
  color: black; /* Change text color if necessary */
}
/* Define the animation class */
.slide-down {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s ease-in-out; /* Adjust the duration as needed */
  }
  
  /* Add this class to show the element */
  .slide-down-show {
	max-height: 1000px; /* Adjust the max height to a suitable value */
	transition: max-height 1s ease-in-out; /* Adjust the duration as needed */
  }
  