/* styles.module.css */

.card-container {
	display: flex;
	flex-direction: column; /* Stack cards vertically */
	align-items: center;
	justify-content: center; /* Center the cards vertically and horizontally */
	height: 100vh;
	padding: 30px 0; /* Add padding to create space at the top and bottom */
	margin-top: 60px;
	margin-bottom: 50px;
	gap: 150px; /* Space between cards */
  }
  
  /* Transaction card styles */
  .transactionCard,
  .transferCard {
	background-color: #f8f8f8; /* Light background color */
	border: 1px solid #e0e0e0; /* Light border */
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 50px; /* Reduce the padding inside the cards */
  width: 100%; /* Full width of the container */
  max-width: 800px; /* Set a maximum width for the cards */
  text-align: left;
  font-family: Arial, sans-serif;
  color: #966b6b; /* Text color for Transaction card */
  margin-bottom: 20px; /* Add margin between the cards for ads */
  }
  

  .transactionCard h2,
  .transferCard h2 {
	font-size: 32px;
	margin-bottom: 50px; /* Reduce the margin below the heading */
	color: #6b4f34;
	text-align: left;
  }
    

/* Additional styles for paragraphs inside the cards */
.transactionCard p,
.transferCard p {
  font-size: 20px;
  margin-bottom: 15px; /* Reduce the margin between paragraphs */
}

  .txHash {
	color: #4d7aad; /* Set the default text color */
	text-decoration: none; /* Remove the underline from links */
	transition: color 0.3s; /* Add a smooth color transition on hover */
	font: bold;
  }
  
  /* Add a hover effect for the link */
  .txHash:hover {
	color: #224983; /* Change the text color on hover */
  }

/* Styles for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .transactionCard,
  .transferCard {
    padding: 20px; /* Reduce the padding inside the cards for smaller screens */
    max-width: 90%; /* Reduce the maximum width for smaller screens */
  }

  .transactionCard h2,
  .transferCard h2 {
    font-size: 24px; /* Reduce font size for smaller screens */
    margin-bottom: 10px; /* Reduce the margin below the heading for smaller screens */
  }

  /* Additional styles for paragraphs inside the cards on smaller screens */
  .transactionCard p,
  .transferCard p {
    font-size: 18px; /* Reduce font size for smaller screens */
    margin-bottom: 10px; /* Reduce the margin between paragraphs for smaller screens */
  }
}





  